* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

input,
button {
    font-family: "Manrope", sans-serif;
}

body,
textarea {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
}

body {
    height: auto;
    background-color: $dark-gray;
    color: $light-gray;
}

button {
    cursor: pointer;
}
