//https://coolors.co/e9d758-297373-ff8552-e6e6e6-39393a

// colors
$dark-gray: #39393a;
$light-gray: #E6E6E6;
$orange: #FF8552;
$green: #297373;
$yellow: #E9D758;

// font weights
$regular: 400;
$bold: 700;