// font weights

$light: 300;
$bold: 700;

// colors

$color1: #005BA9;
$color2: #4A4A4A;
$color3: #fff;
$color4: #FFA800;
$color5: #73BA00;
$color6: #7D00A9;

// paddings

$safe-area-padding: 0 20px 0 20px;